@media (max-width:800px) {

   .showcase {
     &-home {

       .showcase-text{
         padding: 0;
         .grid{
           justify-content: center;
           align-items: center;
           text-align: left;
           .grid-text {
             text-align: left;
             padding-left: 2rem;
           }
         }
         .steps {
           .flex-items {
             display: flex;
             flex-direction: column;

             .icon-1 {
               padding: 0;
               margin: 0;
             }
             .icon-2 {
               padding-left: 0;
             }
             .icon-3 {
               padding-right: 0;;
             }
             .text-3{
               margin-left: 0;
             }
             p {
               text-align: left;
             }
           }
         }

         .cost {
           margin-bottom: 2rem;
          .grid-icons {
            display: flex;
            flex-direction: column;
            .flex-col {
              padding-bottom: 20px;
            }
          }
         }

         .contact {
           margin-bottom: 2rem;
         }
       }
     }
   }
}
@media(max-width: 650px) {
  .showcase-home{
    .showcase-text {
      .grid {
        display: inline-block;
        .photo {
          text-align: center;
          padding-top: 1rem;
        }
        .grid-text {
          padding-left: 0;
          text-align: left;
          .hello {
            text-align: center;
          }
        }
      }
    }
    
  }
}

@media (max-width: 550px){
  .header {
    .navbar {

      nav {
        display: none;
      }
  
      .toggle{
        display: flex;
        position: relative;
        width: 60px;
        height: 60px;
        background: url("/icons/menu.svg") no-repeat center;
        background-size: 30px;
        cursor: pointer;
        margin-top: 5px;
      }
      .toggle.active{
        width: 60px;
        height: 60px;
        background: url("/icons/cancel.svg") no-repeat center;
        background-size: 25px;
        cursor: pointer;
      }
      .flex ul {
        display: none;
      }
    }
  }
  .showcase-home {
    width: 100%;
  }
  .showcase{
    &-home.active,
    &-blog.active {
      right:100vw;
    }
    
    &-blog {
      .grid{
        display: flex;
        flex-direction: column;
        gap: 0;
        .stories {
          .showcase-text {
            margin-bottom: 0;
          }
          .more-stories {
            margin-bottom: 0;
            border-bottom: 1px $light-color solid;
            ul {
              a {
                color: $secondary-color;
                font-weight: 500;
              }
            }
          }

        }
        .aside {
          margin-top: 0;
          .recent-stories {
            h3 {
              color: $primary-color;
              text-align: center;
            }
            ul {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              margin-left: 2.5rem;
              gap: 10px;
              li {
                color: $secondary-color;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }


  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #edd9ef 40%,  #b3c0e2);
    ul {
      position: relative;
      list-style: none;
      li{
        cursor: pointer;
        padding: 10px 0;
        a{
          font-size: 2rem;
          &:hover {
            border-bottom: none;
          }
          
        }
      }
    }
  }

  .footer {
    .container{
      padding: 0 15px;
      height: 90px;
      .footer-items{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 0;
        .flex-row {
          justify-content: center;
        }
      }
    }
  }
  
}
@media (max-width: 450px) {
  .container {
    padding: 0 15px 15px;
  }
  
  .showcase-home {
    .showcase-text{
      
      .steps {
        .flex-items{
          .icon {
            max-width: 250px;
            max-height: 250px;
          }
        }
      }
      .contact {
        .card {
          form{
            width: 350px;
            padding: 10px;
          }
        }
      }

    }
  }
  
}

@media (max-width: 320px) {
  .showcase-home {
    .showcase-text{
      .contact {
        .card {
          padding: 10px;
          form{
            width: 300px;
            padding: 10px;
          }
        }
      }

    }
  }
  .showcase-blog {
    .grid {
      .aside{
        .recent-stories {
          ul {
            margin-left: 1.5rem;
          }
        }
      }
    } 
  } 
  .footer {
    height: 140px;
    .container{
      padding: 0 5px;
      height: 140px;
      .footer-items{
        display: flex;
        flex-direction: column;
        padding-top: 0;
        .flex-row {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }
}

