@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.6;
  font-weight: 300;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  border-bottom: none;
  color: $dark-color;
  cursor: pointer;
  &:hover {
    color: $secondary-color;
    border-bottom: 1px $secondary-color solid ;
    opacity: 0.8;
    
  }
}

h1 {
  font-weight: 500;
  line-height: 1;
  margin: 5px 0;
}


h2,
p {
  margin: 10px 0;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
}
p{
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%
}

.container {
  max-width: 1200px;
  margin: auto;
  overflow: auto;
  padding: 0 40px;
}

.header {



  // Navbar

  .navbar {
    position: fixed;
    background-image: linear-gradient(to right, $pink-color 40%,  $third-color);
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 100;
    opacity: 0.95;
    .h1 {
      color: $secondary-color;
      border-bottom: 2px $pink-color solid;
      &:hover {
        border-bottom: 2px $secondary-color solid;
        
      }
    }
    ul {
      display: flex;
      overflow: hidden;
      img {
        max-width: 25px;
      }
      
      
    }
    a {
      padding: 0 10px 0 10px;
      margin: 0 5px;  
      &:hover {
        color: $secondary-color;
        border-bottom: 1px $secondary-color solid;
      }
      
    }
    
    .flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;
      height: 100%;
    }
    .toggle {
      display: none;
    }
    
    
  }

}

.menu {
  display: none;
  
}


.showcase{
  &-home {
    z-index: 10;
    background: url("../images/he-zhu-1YODHOIj46Q-unsplash.jpg") no-repeat top center/cover;
    padding-top: 5rem;
    position: relative;
    width: 100%;
    .showcase-text {

      padding: 26px 10px 20px;

      // Start
      .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .photo {
          img {
            width: 248px;
            height: 250px;
            // width: 100%;
          }
        }
        .grid-text {
          grid-column: 2/ span 3;
          margin-top: 2rem;
          padding-left: 2rem;
        }
        .text {
          grid-column: 1 / span 4;
        }
      }

      // steps

      .steps {
        h2 {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 2rem 0; 
        }

        .flex-items {
          display: flex;
          justify-content: space-around;
          align-items: center;
          .icon {
            img {
              min-width: 250px;
              min-height: 250px;
              max-width: 300px;
              max-height: 300px;

            }
            
            
          }
          .flex-text {
            max-width: 600px;
          }

          .text-3 {
            // max-width: 500px;
            margin-left: 2rem;
          }
          
          .icon-1 {
            padding-right: 4rem;
            margin-left: 1rem;
          }
          .icon-2 {
            padding-left: 2rem;
          }
          .icon-3 {
            padding-right: 3rem;
          }
        }
        .flex-reverse {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-around;
          align-items: center;
          margin-top: 1.5rem;

         
        }

        
      }
      
      // cost

      .cost {
        margin: 4rem 0;
        h2 {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 2rem 0;
        }
        img {
          max-width: 200px;
        }
        .grid-icons {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          .flex-col {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
              font-size: 1.2rem;
              margin-bottom: 1.5rem;
            }
          }
        }
      }

      // contact

      .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
          margin: 1rem 0 2rem;
        }
        .card {
          margin: 10px;
          padding: 20px;
          // background: linear-gradient(to right, #edd9ef 40%,  #b3c0e2);
          background: $third-color;

          border: 1px solid rgb(167, 163, 163);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);

          form {
            position: relative;
            width: 400px;
            height: 395px;
            padding: 10px 20px 0 20px;
            justify-content: flex-end;
            
            
            .form-control {
              margin-bottom: 30px;
              input,
              textarea {
                border: 1px solid $grey-color;
                width: 100%;
                padding: 10px;
                font-size: 1rem;
                font-family: "Poppins", sans-serif;
                border-radius: 5px;

                &:focus {
                  outline: none;
                }
              }
              textarea {
                height: 150px;   
              }
            
            }
            .message {
              margin-bottom: 15px;
            }
            .btn {
              width: 100%;
              padding: 15px 30px !important;
              margin: 5px 0 10px;
              cursor: pointer;
              border: none;
              border-radius: 10px;
              color: $light-color;
              background: $secondary-color;
              &:hover {
                opacity: 0.8;
              }
            }
          }
          

          
        }
      }

      

    }
  }
  &-blog {
    z-index: 10;
    background: $white-color;
    padding-top: 5rem;
    position: relative;
    width: 100%;
    h2 {
      color: $secondary-color;
    }
    .grid {
      display: grid;
      grid-template-columns: 4fr 1fr;
      gap: 50px;
      .read {
        color: $primary-color;
      }
  
      .stories {
        
        .showcase-text {
          margin: 20px 0;
          padding-bottom: 15px;
          border-bottom: 1px $grey-color solid;
          opacity: 1;
          color: #000;
          font-weight: 500;
          h2 {
            font-size: 2rem;
          }
          .sub-title {
            ul {
              display: flex;
              li {
                margin-right: 10px;
                font-size: 1rem;
              }
            }
          }
  
          .read {
            i {
              padding-left: 5px;
            }
          }
  
          .attention {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            height: 50vh;
  
            .text {
              display: flex;
              justify-content: center;
              align-items: center;
              h2 {
                padding-left: 20px;
              }
            }
            .work-image {
              max-width: 400px;
              display: flex;
              align-items: center;
              justify-content: right;
              margin-left: 6rem;
            }
          }
        }
  
        .showcase-text.contact {
          border-bottom: none;
        }
        .more-stories {
          padding: 20px 10px;
          margin-bottom: 2rem;
          ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 10px;
            a {
              color: $primary-color;
              border-bottom: 1px rgba(0,0,0,0) solid;
              &:hover {
                opacity: 0.6;
                border-bottom: 1px $primary-color solid;
                transition: color 0.5s;
                transition: border-bottom 0.5s;
              }
            }
          }
        }
        .more-stories.intro {
          ul {
            display: flex;
            justify-content: flex-end;
          }
        }
      }
      .zizi-image {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .aside {
        margin-top: 3rem;
        padding-right: 0;
        .recent {
          &-stories {
            h3 {
              margin: 10px 0;
              font-size: 1.5rem;
              color: $secondary-color;
            }
            ul {
              li {
                padding: 5px 0;
              }
            }
          }
        }
      }
    }
  }
}



.footer {
  height: 90px;
  background: $dark-color;
  color: $light-color;
  position: absolute;
  width: 100%;

  .container {
    max-height: 90px;
  }

  .footer-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    max-height: 90px;
  }
  .flex-row{
    display: flex;
    flex-direction: row;
    img{
      max-width: 40px;
      color: $light-color;
      padding: 0 5px;
    }
    .mail,
    .insta {
      display: flex;
      color: $light-color;
      padding-left: 10px;
      &:hover {
        border-bottom: none;
        opacity: 0.6;
      }
    }
  }
}

// Media QUeries

@import "mobile";
